{
    "presets": [
        ["@babel/preset-env"],
        ["env", {
            "targets": {
              "node": "current"
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}